/* structures */
body {
  counter-reset: part chapter section subsection figure table example footnote;
  font-family: source-serif-pro, serif;
}

h2 {
  padding: 1.25rem 0;
  &.part {
    counter-increment: part;
    &::before {
      content: "第" counter(part) "部分 ";
    }
  }
}

h3 {
  padding: 1rem 0;
  &.chapter {
    counter-increment: chapter;
    counter-reset: section;
  }
}

html {
  &:lang(en) h3.chapter::before {
    content: "Chapter " counter(chapter) " ";
    margin-right: 1rem;
  }
  &:lang(zh) h3.chapter::before {
    content: "第" counter(chapter) "章 ";
  }
}

h4.section {
  padding: .25rem 0;
  counter-increment: section;
  counter-reset: subsection;
  &::before {
    content: counter(chapter) "." counter(section) " ";
    margin-right: .5rem;
  }
}

h5.subsection {
  margin-top: 1rem;
  counter-increment: subsection;
  &::before {
    content: counter(chapter) "." counter(section) "." counter(subsection) " ";
    margin-right: .5rem;
  }
}

p {
  text-indent: 2em;
  &::first-letter {
    text-transform: uppercase;
    font-size: 1.25em;
    font-family: Garamond, Palatino, serif;
    letter-spacing: 1px;
  }
  &.reset {
    &::first-letter {
      text-transform: none;
      font-size: 1rem;
      letter-spacing: 0;
    }
  }
}

blockquote {
  margin-bottom: 48px;
  p {
    padding: 16px;
    background: #eee;
    border-radius: 4px;
  }
  footer {
    padding-right: 48px;
    text-align: right;
    &::before {
      content: "-- "
    }
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

table caption {
  caption-side: top;
  text-align: center;
  counter-increment: table;
  &::before {
    content: "Table " counter(chapter) "." counter(table) ":";
    margin-right: 0.5rem;
  }
}

figure figcaption {
  counter-increment: figure;
  &::before {
    content: "Fig " counter(chapter) "." counter(figure) ":";
    margin-right: 0.5rem;
  }
}

.dataTables_wrapper {
  max-width: 800px;
  margin: 3rem auto;
  .table {
    width: 100% !important;
  }
}

.dt-body-center {
  text-align: center;
}

.title {
  margin: 3rem auto;
  padding: 3rem;
  text-align: center;
}

.author {
  padding: 24px;
  color: #696969;
  text-align: center;
  line-height: 24px;
}

.publisher {
  text-align: center;
  font-size: 1.5rem
}

.toc {
  max-width: 600px;
  margin: 0 auto;
  .chapter {
    margin-bottom: 0;
    padding: 0.5rem;
    font-size: 1.25rem;
  }
  .sections {
    display: none;
    padding-left: 2rem;
  }
  .section {
    font-size: 1rem;
  }
}

.toc-chapter-title {
  display: flex;
  justify-content: space-between;
}

.toc-toggle-all {
  margin-bottom: 1.25rem;
  text-align: center;
}

.toc-toggle {
  line-height: 2;
  vertical-align: middle;
  font-size: 1.25rem;
}

.example {
  max-width: 800px;
  margin: 3rem auto;
  h5 {
    text-align: center;
    counter-increment: example;
    &::before {
      content: "Example " counter(chapter) "." counter(example) ":";
      margin-right: 0.5rem;
    }
  }
}