<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="liquid.css">
  <title>Liquid Page</title>
</head>
<body>
  <div id="header">
    <h1>Big Head</h1>
  </div>

  <div class="col">
    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
  </div>
  <div class="col">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="col">
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
  </div>

  <div id="footer">Small Foot</div>
</body>
</html>
